<div class="container_table">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price unit</th>
                <th>Sub total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Sub total</td>
            </tr>
        </tbody>
    </table>
    <div class="container_total">
        <p class="total">
            <strong>Total: <span>100$</span></strong>
        </p>
    </div>
</div>